@import "/styles/variables.scss";
.main{
  display: flex;
  gap: 20px;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
  background-color:  $color-primary ;
  width: 100%;
@media (max-width:500px) {
  gap: 10px;
}
  .card{
    color: white;
    background-color:$color-primary-light;
    padding: $element-padding;
    width: 232px;
    border-radius: 4px;
    @media (max-width:500px) {
  width: 220px;
}
    img{
      margin-bottom: 20px;
      @media (max-width:500px) {
  width: 190px;
}
    }
  }
}
.error{
  height: 85vh;
  translate: 0% 40%;
   color:$color-secondary;
   text-align: center;
}